input{
    display: flex;
    background-color: rgb(21, 174, 245);
    color: rgb(255, 8, 144);
    padding: 4px;
    width: 240px;
    text-transform: arial;

}

form{
   margin-left: 530px;
   margin-top: 1%;
    padding: 10px;
    width: 250px;
    border: none; 
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(201, 169, 230);
    text-shadow: 2px 2px 2px rgb(0, 0, 0) , -2px 2px 2px rgb(0, 0, 0), 2px -2px 2px rgb(0, 0, 0), -3px -3px 3px #232 ;
    color:rgb(232, 244, 255)

}
label{
   flex-direction: column;
    background-image: linear-gradient(rgb(182, 139, 221), rgb(125, 181, 255)) ; 
    padding: 4;
    width: 2px;
 
}

p{
    margin-left: 40px;
}
button{
    margin-left: 38%;
    background-image: linear-gradient(rgb(255, 0, 221), rgb(207, 21, 21)) ;
    color: rgb(255, 237, 254);
    
}
h1{
    background-image: linear-gradient(rgb(255, 0, 221), rgb(207, 21, 21)) ;
    color: aliceblue;
    width: 303PX;
    margin-left: 515PX;
    margin-top: 10%;
}

