
body{
 
text-align: center;
        
}
form{
    margin-left: 43%;
}
h1{
    text-align: center;
    margin-top: 80%;
color: blue;
}
button{
    margin-left: 2px;
}
p{
    color: rgb(244, 188, 255);
}
